@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body{
  background-color: #181717;
  font-family: 'Orbitron', sans-serif;
  padding: 0px;
  margin: 5px;
}

ul, li{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

h1{
  font-size: 50px;
  position: absolute;
  width: 500px;
  height: 50px;
  left: 750px;
  top: 350px;
}

p{
  color: white;
  line-height: 150%;
}

h2, h3{
  font-size: 35px;
  color: #ff4355;
}

h4, h6{
  color: white;
}

.Encabezado{
  background-color: #082632;
  text-align: center;
  padding: 1px;
}

.item-m{
  display: inline-block;
  padding: 50px;
}

.item-m a{
  color: white;
  text-decoration: none;
}

.item-m a:hover{
  color: #ff4355;
  text-decoration: none;
}

.Portada{
  background-color: #F9E1DF;
}

.Indice{
  background-color: #082632;
  text-align: center;
}

.item-i{
  display: inline-block;
  padding: 50px;
}

.item-i a{
  color: white;
  text-decoration: none;
}

.item-i a:hover{
  color: #ff4355;
  text-decoration: none;
}

.item-ims{
  display: inline-block;
  padding: 50px;
}

.item-ims a{
  color: white;
  text-decoration: none;
}

.item-ims a:hover{
  color: #933FF3;
  text-decoration: none;
}

.item-ics{
  display: inline-block;
  padding: 50px;
}

.item-ics a{
  color: white;
  text-decoration: none;
}

.item-ics a:hover{
  color: #E1B514;
  text-decoration: none;
}

.Americas{
  padding: 20px;
}
.Emea{
  padding: 20px;
}
.Pacific{
  padding: 20px;
}

.tituloAmericas{
  padding: 20px;
  border: 2px solid #D90429;
}

.tituloEmea{
  padding: 20px;
  border: 2px solid #933FF3;
}

.tituloPacific{
  padding: 20px;
  border: 2px solid #02C39A
}

.infoinicial{
  padding: 20px;

}

.vct2023{
  padding: 20px;
}

.masters{
  padding: 20px;
}

.mastersTitulo{
  color: #933FF3;
}

.champions{
  padding: 20px;
}

.champìonsTitulo{
  color: #E1B514;
}

.pie{
  background-color: black;
  text-align: center;
  height: 100px;
  padding: 30px;
}
