@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body{
  background-color: #181717;
  font-family: 'Orbitron', sans-serif;
  padding: 0px;
  margin: 5px;
}

li, a{
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 20px;
}

h1{
  font-size: 50px;
  position: absolute;
  width: 500px;
  height: 50px;
  left: 750px;
  top: 350px;
}

p{
color: white;
line-height: 150%;
}

h2, h3{
  font-size: 35px;
  color: #ff4355;
}

h4, h6{
  color: white;
}

.Encabezado{
  background-color: #082632;
  text-align: center;
  padding: 1px;
}

.Portada{
background-color: #F9E1DF;

}

.Americas{
  padding: 20px;
}
.Emea{
  padding: 20px;
}
.Pacific{
  padding: 20px;
}

.tituloAmericas{
padding: 20px;
border: 2px solid #D90429;
}

.tituloEmea{
padding: 20px;
border: 2px solid #933FF3;
}

.tituloPacific{
padding: 20px;
border: 2px solid #02C39A
}

.infoinicial{
padding: 20px;

}

.vct2023{
  padding: 20px;
}

.pie{
  background-image: url(../img/pie.jpg);
  text-align: center;
  height: 100px;
  padding: 80px;
}
